@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.app {
    font-family: "Kanit", sans-serif;
}

.app-header {
    text-align: center;
    margin-bottom: 2em;
}

.app-title {
    margin: 0;
    padding: 0.5em 0;
    font-size: 2.4em;
    color: #2e9bdb;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;    
}


.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /*based on width of device  mobile+desktop */
}

.label-input {
    margin-left: 19%;
    align-self: flex-start;
    text-align: left;
    font-size: 0.95em;    
}

.search-input {
    height: 2em;
    width: 60%; /* will responsive  desktop mobile*/
    margin-right: 0.5em;
    padding: 0.5em;
    font-size: 0.95em;
    border: 1px solid #fdfcfc;
    border-bottom: 1px solid #c8c3c3;
    border-radius: 0.0em;
    text-align: center;
}

.search-input::placeholder {
    color: #8e8e8e;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal; 
}

.results-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1em;
}