@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.app {
    font-family: "Kanit", sans-serif;
}

.app-header {
    text-align: center;
    margin-bottom: 2em;
}

.app-title {
    margin: 0;
    padding: 0.5em 0;
    font-size: 2.4em;
    color: #2e9bdb;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;    
}


.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /*based on width of device  mobile+desktop */
}

.label-input {
    margin-left: 19%;
    align-self: flex-start;
    text-align: left;
    font-size: 0.95em;    
}

.search-input {
    height: 2em;
    width: 60%; /* will responsive  desktop mobile*/
    margin-right: 0.5em;
    padding: 0.5em;
    font-size: 0.95em;
    border: 1px solid #fdfcfc;
    border-bottom: 1px solid #c8c3c3;
    border-radius: 0.0em;
    text-align: center;
}

.search-input::placeholder {
    color: #8e8e8e;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal; 
}

.results-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1em;
}


.trip-image {
    width: 100%;
    height: auto;
}

.trip-info {
    padding: 1em;
}

.trip-link {
    color: #00a2ff;
    text-decoration: underline;
    font-size: 0.7em;
}

.trip-card {
    display: flex;
    flex-direction: column;
    align-items: center;    
    margin: 0 7%;
    margin-bottom: 0.65em;
    box-shadow: 0 2px 4px rgba(129, 126, 126, 0.1);
    width: 100%; /* responsive mobile*/
    padding-bottom: 5px;
}

.trip-main-image {
    width: 95%; /* responsive  mobile*/
    height: auto;
    object-fit: cover;
    margin-bottom: 0.1em;
    border-radius: 22px;
}

.trip-content {
    position: relative;
    padding: 0 0.6em;
    flex-grow: 1;
}

.clipboard-image {
    position: absolute;
    bottom: 10px;
    right: 0px;
    width: 26px;
    height: 26px;
    cursor: pointer;
}

.trip-title {
    margin: 0 0 0.5em 0;
    font-size: 0.99em;
    font-weight: 550;
    font-style: normal;     
}

.trip-description {
    color:#5f5f5f;
    font-size: 0.6em;
    margin: 0;
}

.trip-photos {
    display: flex;
    margin-top: 0.5em;
}

.trip-small-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 0.5em;
    border-radius: 6px;
}

.trip-tags {
    margin-top: 0.5em;
    font-size: 0.7em;
    color: #5f5f5f;
    cursor: pointer;
}

.underline {
    text-decoration: underline;
}


.error-message {
    color: red;
    text-align: center;
}